.article .get-all-comment-btn{margin-top:1rem;}
.article-content li{margin-top:0.6rem;}
.article-content li .article-img{width:100%;display: block;}
.article-content li .article-text{width:100%;margin-top:0.6rem;}