.valid_area{width:100%;background:#fff;}
.pic-wrapper{width:100%;}
.pic-wrapper li{margin-bottom:0.8rem;}
.pic-wrapper li img{width:100%;display: block;}
.valid_area .page-header{height:4.6rem;}
.row{height:2rem;width:100%;position: relative;}
.row .date{position: absolute;right:0;bottom:0;}



