<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动分享</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- build:css css/activity_share.css -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/share_public.css">
    <link rel="stylesheet" href="css/activity_share.css">
    <!-- endbuild -->
    <script src="js/common.js"></script>
    <!-- 开发完成后请使用min版 -->
    <script src="js/vue.js"></script>
</head>
<body class="container">

<div class="modal-dialog" onclick="$(this).hide()">
    <img class="dialog-img" src="" >
</div>

<section class="activity">
    <header class="page-header">
        <img src="img/logo.png" class="logo">
        <div class="act-name font-bigger">{{activity.title}}</div>
        <div class="user-info-wrapper">
            <div class="header-img"><img v-bind:src="activity.user.avatar" alt=""></div>
            <div class="user-info">
                <div class="user-name">{{activity.user.name}}</div>
                <div class="user-tag"><span>{{activity.user.bio}}</span><div class="date">{{activity.update_at}}</div></div>
            </div>
        </div>
    </header>

    <div class="page-body">
        <div>
            <img v-bind:src="activity.cover" class="act-poster">
        </div>

        <ul class="details-wrapper">
            <li class="details-slider">
                <div class="slider-title">活动详情</div>
                <div class="line"></div>
                <div class="one-info">
                    <span class="info-title">展会类型：</span>
                    <span class="info-content">{{activity.type}}展</span>
                </div>
                <div class="one-info">
                    <span class="info-title">展会地点：</span>
                    <span class="info-content">{{activity.address}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">报名截止时间：</span>
                    <span class="info-content">{{activity.end}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">联系电话：</span>
                    <span class="info-content">{{activity.contact}}</span>
                </div>
            </li>

            <li class="details-slider">
                <div class="slider-title">活动介绍</div>
                <div class="line"></div>
                <div class="text-content">
                    {{activity.desc}}
                </div>

            </li>

            <li class="details-slider">
                <div class="slider-title">报名条件</div>
                <div class="line"></div>
                <div class="text-content">
                    {{activity.condition}}
                </div>
                <a href="javascript:showModalDialog()" class="signup">报名</a>
            </li>

            <li class="details-slider">
                <div class="slider-title">参展艺术家 </div>
                <div class="artists-count">233名</div>
                <div class="line"></div>
                <div class="artist-list">
                    <img src="img/artist_1.png" alt="" class="artist-image">
                    <img src="img/artist_2.png" alt="" class="artist-image">
                    <img src="img/artist_3.png" alt="" class="artist-image">
                    <img src="img/artist_next.png" class="artist-image" onclick="showModalDialog()">
                </div>
            </li>

            <li class="details-slider">
                <div class="slider-title">参展作品</div>
                <div class="artwork-count">233幅</div>
                <div class="line"></div>
                <div class="artwork-list clearfix">
                    <img src="img/artwork_1.png" alt="" class="artwork-image">
                    <img src="img/artwork_2.png" alt="" class="artwork-image">
                    <img src="img/artwork_3.png" alt="" class="artwork-image">
                    <img src="img/artwork_4.png" alt="" class="artwork-image">
                    <img src="img/artwork_5.png" alt="" class="artwork-image">
                    <img src="img/artwork_6.png" alt="" class="artwork-image">
                    <img src="img/artwork_7.png" alt="" class="artwork-image">
                    <img src="img/artwork_next.png" alt="" class="artwork-image" onclick="showModalDialog()">
                </div>
            </li>

            <li class="details-slider">
                <div class="slider-title">评论</div>
                <div class="line"></div>
                <ul class="comment-list">
                    <li v-for="comment in activity.comments" class="comment-wrapper">
                        <div class="comment-user-info">
                            <img v-bind:src="comment.user.avatar" alt="" class="comment-header-img">
                            <img src="img/v_yellow_big.png" class="v-big-man">
                            <span class="comment-user-name">{{comment.user.name}}</span>
                            <div class="comment-time"><span>{{comment.time}}</span></div>
                        </div>

                        <div v-if="comment.type=='text'" class="comment-text">
                            <span v-if="comment.reply_to != null">回复<a href="javascript:;" class="reply-user">@{{comment.reply_to}}：</a> </span>  {{comment.content}}
                        </div>
                        <div v-if="comment.type=='audio'" class="comment-text">
                            <div class="sound-comment">
                                <div class="sound-sign">
                                    <div class="sound-time"><span class="time-panel">0</span>''</div>
                                    <div class="sound-img">
                                        <img src="img/audio_play_icon.png">
                                    </div>
                                </div>
                                <audio v-bind:src="comment.url" class="music" preload></audio>
                            </div>
                        </div>

                    </li>

                </ul>
                <a href="javascript:showModalDialog()" class="get-all-comment-btn">打开LinkArt，查看全都6条评论</a>
            </li>
        </ul>
    </div>

    <footer class="page-footer">
        <img src="img/qrcode.jpg" class="qrcode">
        <p class="compay-name">LinkArt</p>
        <p class="focus-text">扫一扫或长按二维码，加关注</p>
    </footer>

</section>
</body>
<!-- build:js js/activity_share.js -->
<script src="js/jquery2.1.1.min.js"></script>
<script src="js/audioPlay.js"></script>
<script src="js/activity.js"></script>
<!-- endbuild -->

</html>