<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章分享</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- build:css css/article_share.css -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/share_public.css">
    <link rel="stylesheet" href="css/article_share.css">
    <!-- endbuild -->
    <script src="js/common.js"></script>
    <!-- 开发完成后请使用min版 -->
    <script src="js/vue.js"></script>
</head>
<body class="container">
<section class="article">
    <header class="page-header">
        <img src="img/logo.png" class="logo">
        <div class="act-name font-bigger">{{article.title}}</div>
        <div class="user-info-wrapper">
            <div class="header-img"><img v-bind:src="article.user.avatar" alt=""></div>
            <div class="user-info">
                <div class="user-name">{{article.user.name}}</div>
                <div class="user-tag"><span>{{article.user.bio}}</span><div class="date">{{article.update_at}}</div></div>
            </div>
        </div>
    </header>

    <div class="page-body">
        <ul class="article-content">
            <li>
                <img v-bind:src="article.content.imgSrc" class="article-img">
                <p class="article-text"></p>

            </li>
        </ul>

        <ul class="details-wrapper">
            <li class="details-slider">
                <div class="slider-title">评论</div>
                <div class="line"></div>
                <ul class="comment-list">
                    <li v-for="comment in article.comments" class="comment-wrapper">
                        <div class="comment-user-info">
                            <img v-bind:src="comment.user.avatar" alt="" class="comment-header-img">
                            <img v-bind:src="comment.user.v_image" class="v-big-man">
                            <span class="comment-user-name">{{comment.user.name}}</span>
                            <div class="comment-time"><span>{{comment.time}}</span></div>
                        </div>

                        <div v-if="comment.type=='text'" class="comment-text">
                            <span v-if="comment.reply_to != null"><a href="javascript:;" class="reply-user">@{{comment.reply_to}}：</a> </span>  {{comment.content}}
                        </div>
                        <div v-if="comment.type=='audio'" class="comment-text">
                            <div class="sound-comment">
                                <div class="sound-sign">
                                    <div class="sound-time"><span class="time-panel">0</span>''</div>
                                    <div class="sound-img">
                                        <img src="img/audio_play_icon.png">
                                    </div>
                                </div>
                                <audio v-bind:src="comment.url" class="music" preload></audio>
                            </div>
                        </div>

                    </li>
                </ul>
                <a href="javascript:;" class="get-all-comment-btn">打开LinkArt，查看全都6条评论</a>
            </li>
        </ul>
    </div>

    <footer class="page-footer">
        <img src="img/qrcode.jpg" class="qrcode">
        <p class="compay-name">LinkArt</p>
        <p class="focus-text">扫一扫或长按二维码，加关注</p>
    </footer>
</section>

<div id="tempDate" style="display:none"></div>
</body>
<!-- build:js js/article_share.js -->
<script src="js/jquery2.1.1.min.js"></script>
<script src="js/audioPlay.js"></script>

<script>

    function getTempDate(data){
        var $temp = $("#tempDate");
        $temp.html(data);

        var result = {};
        var $h1s = $temp.find("h1");
        result.imgSrc = $temp.find("img").attr("src");
        result.text = $h1s.eq(1).html();
        return result;
    }

    function setArticleAttributes(article) {
        var comments = article.comments;
        for(var i = 0; i < comments.length; i++){
            var comment = comments[i];
            comment.time = getDateDiff(comment.created_at);
            var res = /^回复@(.*):/.exec(comment.content);
            comment.reply_to = res == null ? null : res[1];
            if (res !== null)
                comment.content = comment.content.substr(res[0].length);
        }

        var update_at_str = takeTimeApart(article.update_at);
        article.update_at = update_at_str.month + "-" + update_at_str.day + "," + update_at_str.year;

        var data = article.content;
        var r = getTempDate(data);

        $(".article-text").html(r.text);

        article.content = r;

        return article;
    }

    $(function() {

        var vm = new Vue({
            el: 'body',
            data: {
                article: {user: {}, comments: [{user:{}}], content: {}}
            },
            ready:function() {
                $.ajax( {
                    url:'https://private-anon-2eecc86b83-linkart.apiary-mock.com/stories／1',
                    data:{},
                    type:'get',
                    async: true,
                    cache:false,
                    dataType:"json",
                    success:function(data) {
                        vm.article = setArticleAttributes(data);

                        vm.$nextTick(function () {
                            var audiosParent = document.querySelectorAll(".sound-comment");
                            [].forEach.call(audiosParent,function(ap){
                                new AudioPlay(ap);
                            });
                        });
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest);
                        console.log(textStatus);
                        console.log(errorThrown);
//                        alert("异常！");
                    }
                });

            }
        });
    })

//    function  getTempDate(data){
//        var contentArr = [];
//        var $h1s = $temp.children("h1");
//
//        for(var i=0;i<$h1s.length;i++){
//            var $h1 = $h1s.eq(i);
//            var str = $h1.html();
//            if(str.indexOf("img")>0 && str.indexOf("src")>0){
//                contentArr.push({
//                    key:"img",
//                    content:$h1.find("img").attr("src")
//                });
//            }else{
//                contentArr.push({
//                    key:"text",
//                    content:$h1.html()
//                });
//            }
//        }
//        return contentArr;
//    }


</script>
<!-- endbuild -->
</html>