<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>语音点评分享</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- build:css css/sound_comment_share.css -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/share_public.css">
    <link rel="stylesheet" href="css/sound_comment_share.css">
    <!-- endbuild -->
    <script src="js/common.js"></script>
    <!-- 开发完成后请使用min版 -->
    <script src="js/vue.js"></script>
</head>
<body class="container">
<section class="sound">
    <header class="page-header">
        <img src="img/logo.png" class="logo">
        <div class="nick-wrapper font-bigger">{{certain_comment.title}}</div>
        <div class="user-info-wrapper">
            <div class="header-img"><img v-bind:src="certain_comment.user.avatar" alt=""></div>
            <div class="user-info">
                <div class="user-name">{{certain_comment.user.name}}</div>
                <div class="user-tag"><span>{{certain_comment.user.bio}}</span><div class="date">{{certain_comment.update_at}}</div></div>
            </div>
        </div>
    </header>

    <div class="page-body">
        <div>
            <img v-bind:src="certain_comment.image" class="act-poster">
        </div>

        <ul class="details-wrapper">
            <li class="details-slider">
                <div class="slider-title">作品详情</div>
                <div class="line"></div>
                <div class="one-info">
                    <span class="info-title">作者：</span>
                    <span class="info-content">{{certain_comment.author}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">作品类型：</span>
                    <span class="info-content">{{certain_comment.type}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">作品材质：</span>
                    <span class="info-content">{{certain_comment.texture}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">作品尺寸：</span>
                    <span class="info-content">{{certain_comment.size}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">创造年份：</span>
                    <span class="info-content">{{certain_comment.year}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">出售类型：</span>
                    <span class="info-content">{{certain_comment.sell_type}}</span>
                </div>
                <div class="one-info">
                    <span class="info-title">价格：</span>
                    <span v-show="certain_comment.sell_orice_visible" class="info-content">{{certain_comment.sell_price}}元</span>
                </div>
            </li>

            <li class="details-slider">
                <div class="slider-title">点评</div>
                <div class="line"></div>
                <ul class="comment-list">
                    <li class="comment-wrapper" id="my-comment">
                        <div class="comment-user-info">
                            <img v-bind:src="certain_comment.comment.user.avatar"  class="comment-header-img">
                            <img v-if="certain_comment.comment.user.verified" v-bind:src="certain_comment.comment.user.v_image" class="v-big-man">
                            <span class="comment-user-name">{{certain_comment.comment.user.name}}<br/><span class="share-date">{{certain_comment.comment.created_at}}</span></span>
                            <div class="comment-time">
                                <img src="img/unknow_icon.png"><span>{{certain_comment.comment.recommend_count}}</span>
                                <img src="img/heart_icon.png"><span>{{certain_comment.comment.favorite_count}}</span>
                                <img src="img/message_icon.png"><span>{{certain_comment.comment.reply_count}}</span>
                            </div>
                        </div>

                        <div v-if="certain_comment.comment.type=='text'" class="comment-text">
                            <span v-if="certain_comment.comment.reply_to != null"><a href="javascript:;" class="reply-user">@{{certain_comment.comment.reply_to}}：</a> </span>  {{certain_comment.comment.content}}
                        </div>
                        <div v-if="certain_comment.comment.type=='audio'" class="comment-text">
                            <div class="sound-comment">
                                <div class="sound-sign">
                                    <div class="sound-time"><span class="time-panel">0</span>''</div>
                                    <div class="sound-img">
                                        <img src="img/audio_play_icon.png">
                                    </div>
                                </div>
                                <audio v-bind:src="certain_comment.comment.url" class="music" preload></audio>
                            </div>
                        </div>
                    </li>

                    <li v-for="reply in certain_comment.comment.reply" class="comment-wrapper">
                        <div class="comment-user-info">
                            <img v-bind:src="reply.user.avatar" alt="" class="comment-header-img">
                            <span class="comment-user-name">{{reply.user.name}}</span>
                        </div>

                        <div class="comment-text">{{reply.content}}</div>
                    </li>
                </ul>
                <a href="javascript:;" class="get-all-comment-btn">打开LinkArt，查看全都6条评论</a>
            </li>
        </ul>
    </div>

    <footer class="page-footer">
        <img src="img/qrcode.jpg" class="qrcode">
        <p class="compay-name">LinkArt</p>
        <p class="focus-text">扫一扫或长按二维码，加关注</p>
    </footer>
</section>
</body>
<!-- build:js js/sound_comment_share.js -->
<script src="js/jquery2.1.1.min.js"></script>
<script src="js/audioPlay.js"></script>
<script src="js/sound_comment.js"></script>
<!-- endbuild -->

</html>